*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    padding: 1rem;
}
header{
    background-color: red;
    height: 100px;
    margin-bottom: 1rem;
}
.flex_container{
    display: flex;
    justify-content: space-between;
}
main{
    width: 66%;
    height: 450px;
    background-color: yellow;
}
.sidebar{
    width: 33%;
    background-color: blue;
    height: 300px;
    padding: 1rem;
}
footer{
    background: orange;
    height: 100px;
     margin-top: 1rem;
}